#main-display-div {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas-container {
  position: absolute;
  width: 1291px;
  height: 731px;
  background-color: rgb(172, 172, 172);
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}


#background-canvas {
  position: absolute;
  left: 5px;
  top: 5px;
}

#player-canvas {
  position: absolute;
  left: 5px;
  top: 5px;
}
