#main-display-div {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas-container {
  width: 1288px;
  height: 728px;
  background-color: rgb(172, 172, 172);
  display: flex;
  justify-content: center;
  align-items: center;
}
